
.slot-machine {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  margin: 10px 0;          
}

.reel {
  font-size: 3rem;
  margin: 0 10px;
}

button {
  margin-top: 20px;
  padding: 500px 70px;
  font-size: 2rem;
  cursor: pointer;
  border: 0ch;
}
